<div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
    <div class="card-body p-2">
        @if (!Game.Game.MachineStarts)
        {
            <p class="card-text black-text"><small>Partner:</small><br /> Hello there!<br />So how do you think we can split up @Game.Game.Surplus  gold bars between two of us?</p>
            <p class="card-text black-text">How many bars do you want?</p>
        }
        else
        {
            <p class="card-text black-text"><small>Partner:</small><br /> Hello there!</p>
        }
    </div>
</div>

@foreach (var move in Game.Moves)
{
    @if (move.MoveBy == "MACH")
    {
        <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
            <div class="card-body p-2">
                @if (move.OfferAccepted)
                {
                    <p class="card-text black-text"><small>Partner:</small><br />I accept your offer. You get <span class="badge badge-success" style="font-size:1.5rem">@move.ProposedAmount</span> bars. I will keep @(Game.Game.Surplus-move.ProposedAmount) bars.</p>
                    <p class="card-text black-text">Thank you :)</p>
                }
                else
                {
                    <p class="card-text black-text"><small>Partner:</small><br /> I can give you <span class="badge badge-success" style="font-size:1.5rem">@move.ProposedAmount</span> bars. I will keep @(Game.Game.Surplus-move.ProposedAmount) bars.</p>
                }
            </div>
        </div>
    }
    else if (move.MoveBy == "TURK")
    {
        <div class="card bg-primary rounded w-75 float-right z-depth-0 mb-1">
            <div class="card-body p-2">
                @if (move.OfferAccepted)
                {
                    @if (move.ProposedAmount == -2)
                    {
                        <p class="card-text text-white"><small>Me:</small><br /> I am happy with  @Game.Game.TurksDisValue bars. Thank you for your time.</p>
                    }
                    else
                    {
                        <p class="card-text text-white"><small>Me:</small><br /> I accept your offer. I keep  @move.ProposedAmount bars and you get @(Game.Game.Surplus - move.ProposedAmount).</p>
                        <p class="card-text black-text">Thank you :)</p>
                    }
                }
                else
                {
                    <p class="card-text text-white"><small>Me:</small><br /> I want @move.ProposedAmount bars. You will get @(Game.Game.Surplus - move.ProposedAmount)</p>
                }
            </div>
        </div>
    }
    else if (move.MoveBy == "SYST")
    {
        <div class="card bg-warning text-dark rounded w-100 float-right z-depth-0 mb-1">
            <div class="card-body p-2">
                <p class="card-text">
                    <small>System:</small><br /> Time is up! <br />You could not  agree with your partner in @(Game.Game.TimeOut) seconds, so you get <span class="badge badge-success" style="font-size:1.5rem">@Game.Game.TurksDisValue</span> gold bars only.
                </p>
            </div>
        </div>

    }

}

@code {
    [Parameter]
    public GameInfo Game { private get; set; }

}
