<div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
    <div class="card-body p-2">
        @if (!Game.Game.MachineStarts)
        {
            <p class="card-text black-text">Hello there!<br />So how do you think we can split up @Game.Game.Surplus  Gold Bars between two of us?</p>
            <p class="card-text black-text">How many bars do you want?</p>
        }
        else
        {
            <p class="card-text black-text">Hello there!</p>
        }
    </div>
</div>

@foreach (var move in Game.Moves)
{
    @if (move.MoveBy == "MACH")
    {
        <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
            <div class="card-body p-2">
                @if (move.OfferAccepted)
                {
                    <p class="card-text black-text">I accept your offer. You get @move.ProposedAmount bars. I will keep @(Game.Game.Surplus-move.ProposedAmount) bars.</p>
                    <p class="card-text black-text">Thank you :)</p>
                }
                else
                {
                    <p class="card-text black-text">I can give you @move.ProposedAmount bars. I will keep @(Game.Game.Surplus-move.ProposedAmount) bars.</p>
                }
            </div>
        </div>
    }
    else if (move.MoveBy == "TURK")
    {
        <div class="card bg-primary rounded w-75 float-right z-depth-0 mb-1">
            <div class="card-body p-2">
                @if (move.OfferAccepted)
                {
                    <p class="card-text text-white">I accept your offer. I keep  @move.ProposedAmount bars and you get @(Game.Game.Surplus - move.ProposedAmount).</p>
                    <p class="card-text black-text">Thank you :)</p>
                }
                else
                {
                    <p class="card-text text-white">I want @move.ProposedAmount bars. You will get @(Game.Game.Surplus - move.ProposedAmount)</p>
                }
            </div>
        </div>
    }
    else if (move.MoveBy == "SYST")
    {
        <div class="card bg-warning text-dark rounded w-100 float-right z-depth-0 mb-1">
            <div class="card-body p-2">
                <p class="card-text">
                    Time is up! <br />You could not  agree with your partner in @(Game.Game.TimeOut) seconds, so you get @Game.Game.TurksDisValue Gold Bars only.
                </p>
            </div>
        </div>

    }

}

@code {
    [Parameter]
    public GameInfo Game { private get; set; }

}
