@page "/"


@using MTurk.Data
@using MTurk.UIModels

@inject ISessionService _db

<h3>WorkerId</h3>

@if (sessions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@worker" OnValidSubmit="@InsertWorkerId">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="WorkerId" @bind-Value="worker.WorkerID" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
    <table class="table">
        <thead>
            <tr>
                <th>DateTime</th>
                <th>SessionID</th>
                <th>WorkerID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in sessions)
            {
                <tr>
                    <td>@session.Time.ToString("o") </td>
                    <td>@session.Id</td>
                    <td>@session.WorkerId</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Session[] sessions;
    private Worker worker = new Worker();

    protected override async Task OnInitializedAsync()
    {
        sessions = await _db.GetAllSessionsAsync();
    }
    private void InsertWorkerId()
    {

    }

}
